body {
    background-color: #212121;
    position: relative;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 430%;
    text-align: center;
    line-height: 0px;
    padding-bottom: 5px;
    top: ;
}
.text1 {
    font-family: 'Segoe UI';
    color: #ffffff;
    text-align: center;
    font-size: 140%;
    line-height: 22px;
    text-transform: none;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}
.text2 {
    font-family: 'Segoe UI';
    color: #ffffff;
    text-align: center;
    font-size: 140%;
    line-height: 22px;
    text-transform: none;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}
.line {
    font-size: 100%;
    border: 1px;
    border-bottom-style: solid;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Network Buttons Css */

.network {
    text-align: center;
}
.button {
    background-color: #393939;
    color: #393939;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-right: 10px; /* icon araları */
}
.button1 {
    background-color:#393939; 
    color: #393939; 
}
.button1:hover { /* mouse ustundeyken */
    background-color: #7c7c7c;
    color: #ffffff;
}