body {
    background-color: #212121;
}    
h1 {
    color: #ffffff;
    font-family: 'Tahoma';
    font-size: 350%;
    text-align: center;
    line-height: 0px;
    padding-bottom: 5px;
    position: relative;
    top: 200px;
}

.vertical-center1 {
    margin: 0;
    position: absolute;
    transform: translateX(530px);
}
.vertical-center2 {
    margin: 0;
    position: absolute;
    transform: translateX(580px);
}
.vertical-center3 {
    margin: 0;
    position: absolute;
    transform: translateX(630px);
}
.vertical-center4 {
    margin: 0;
    position: absolute;
    transform: translateX(680px);
}
.vertical-center5 {
    margin: 0;
    position: absolute;
    transform: translateX(730px);
}
.button {
    background-color: #393939;
    border: none;
    color: #393939;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
}
  
  .button1 {
    background-color:#393939; 
    color: #393939; 
  }
  
  .button1:hover {
    background-color: #7c7c7c;
    color: #ffffff;
  }